# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/
ENV/

# Distribution / Packaging
build/
dist/
*.egg-info/

# Environment Variables
.env
.env.*

# IDE Files
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Test & Coverage
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# Streamlit Secrets
.streamlit/secrets.toml

# ==========================
# Ignore generated data file
# ==========================
streamlit_app/data/pds_clustered.csv